<form action="#" method="get" accept-charset="utf-8" id="PhotoCreationForm">
	<label for="photo_url">Photo URL: </label><input type="text" name="photo[url]" value="" id="photo_url">
	<p><input type="submit" value="Create Photo!"></p>
</form>